h1 {
    text-align: center;
    color: #ffffff85;
    font-size: 500%;

}

#container {
    width: 1000px;
    margin: 0 auto;
    background-image: url("../images/bg3.jpg");
    /*background-color: white;*/
}

#head {
    height: 230px;
    padding: 1em;
    background-image: url("../images/test.jpg");
    background-repeat: no-repeat;
}

#mid {
    padding: 0 1em;
    margin-bottom: 25px;
}

#foot {
    bottom: 0;
    width: 1000px;
    background: #93bee5;
    text-align: center;
    color: #ffffff;
    padding: 1em 0;
    margin: 0 auto;
}

#topMenu {
    list-style-type: none;
    overflow: auto;
    font-size: 100%;
    text-align: right;
}
#topMenu li {
    display: inline-block;
    padding: 1em;
}

#topMenu li a {
    display: inline;
    text-decoration: none;
    color: black;
}

#topMenu li a:hover {
    color: white;
}
#submit
{
    background-color: #93bee5;
    height: 6em;

}

.fout {
	background-color: red;
}
/*table test*/
table#tableResults {
    border: 2px solid #93bee5;
    background-color: #c9e0f7;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table#tableResults td, table#tableResults th {
    border: 1px solid rgb(255, 255, 255);
    padding: 3px 2px;
  }
  table#tableResults tbody td {
    font-size: 13px;
  }
  table#tableResults tr:nth-child(even) {
    background: #dbeaf7;
  }
  table#tableResults thead {
    background: #afd2f3;
  }
  table#tableResults th {
    background: #afd2f3;
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }
  table#tableResults thead th:first-child {
    border-left: none;
  }
  
  table#tableResults tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #afd2f3;
  }
  table#tableResults tfoot td {
    font-size: 13px;
  }
  table#tableResults tfoot .links {
    text-align: right;
  }
  table#tableResults tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #afd2f3;
    padding: 2px 8px;
    border-radius: 5px;
  }

  .klikbaar{
    cursor:pointer;
  }

  input[type="number"] 
{
    width: 12%;
}